body.grid {
    width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    text-align: center;
    grid-template-areas: "header" "main" "nav" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: max-content 2fr 1fr max-content
}

@media (min-width: 768px) {
    :root {
        --header-height: 3em;
        --footer-height: 2em
    }

    body.grid {
        height: 100vh;
        grid-template-areas: "header main" "nav main" "footer main";
        grid-template-columns: minmax(20%, 40%) 1fr;
        grid-template-rows: min-content 1fr min-content
    }

    body>header {
        text-align: left;
        padding-bottom: 0
    }

    body>main {
        margin-top: var(--header-height);
        margin-bottom: var(--footer-height)
    }

    body>footer {
        padding-top: 0
    }
}

body>header {
    grid-area: header
}

header>h1 {
    margin-bottom: 0
}

body>nav {
    grid-area: nav
}

body>main {
    grid-area: main;
    padding-top: 0;
    padding-bottom: 0;
    align-self: center;
    justify-self: center
}

body>footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

footer>* {
    margin-bottom: 0
}

html[data-theme=dark] #darklight {
    background-image: url(./darth.jpg)
}

html[data-theme=light] #darklight {
    background-image: url(./yoda.jpg)
}

#darklight {
    min-height: 200px;
    background-color: transparent;
    background-size: contain;
    background-position: center
}

article>header {
    padding-bottom: 0
}