.reveal code{color:var(--r-link-color-hover)}figcaption{font-size:small;font-style:italic}.accent{color:var(--r-link-color)}.columns{width:100%;display:grid;grid-template-columns:1fr 1fr;justify-items:center}
